@font-face{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'),local(SourceSansPro-Regular),url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}
html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: steelblue;
    text-decoration: none;
    font-weight: 600;
}

.menu {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
    a {
        font-size: 20px;
        padding: 40px;
        display: block;

        &.active {
            box-shadow: 0 -5px 0 steelblue inset;
        }
    }
}
