@font-face{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'),local(SourceSansPro-Regular),url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

html, body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: default;
}

a, .link {
    color: steelblue;
    text-decoration: none;
    font-weight: 600;
}

.link {
    cursor: pointer;
    min-width: 30px;
    padding: 0 10px;
    display: inline-block;
}

.blue {
    color: steelblue;
}

button {
    color: white;
    font-weight: 400;
    padding: 2px 40px;
    background-color: steelblue;
    border: none;
    font-size: 18px;
    margin: 0 5px;
}

input {
    color: steelblue;
    padding: 2px 10px;
    font-weight: 500;
    background-color: white;
    border: 2px solid steelblue;
    margin: 0 5px;
    font-size: 18px;
}

.menu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    justify-content: center;
    border-bottom: 5px solid steelblue;
    a {
        font-size: 20px;
        padding: 10px 40px;
        display: block;

        &.active {
            background-color: steelblue;
            color: white;
        }
    }
}

.alg {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    .moves {
        flex-grow: 1;
    }
}

.explore {
    .ll {
        display: block;
        margin: 50px auto;
    }
    .actions {
        text-align: center;
    }
}

.subsets {
    text-align: center;
    .data {
        color: steelblue;
        font-weight: bold;
        padding: 0 5px 0 10px;
    }
    .info {
        padding: 10px 0;
    }
    .cases {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        .case {
            width: 320px;
            border-radius: 15px;
            padding: 20px 0;
            margin: 5px;
            .moves {
                font-size: 16px;
                cursor: pointer;
            }
            &.visible {
                border: 5px solid steelblue;
            }
            .index {
                font-size: 12px;
            }
        }
    }
}
